fastapi
uvicorn
openai
pandas
requests
beautifulsoup4
Pillow
pyyaml
docker
markdown
flask-cors
starlette
numpy
pybase64
httpx
pdfplumber
PyGithub
geographiclib==2.0
geopandas==1.0.1
geopy==2.4.1
duckdb
rapidfuzz
python-Levenshtein
yt-dlp
openai-whisper
whisper